---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="relative dark:bg-resume-dark bg-resume lg:content-center lg:grid lg:min-h-small-screen">
  <div class="relative max-w-[88rem] mx-auto px-4 sm:px-10 md:px-20 w-full">
    <div class="py-8 lg:flex lg:items-center xl:gap-20 lg:gap-10">
      <div class="basis-5/12 mx-auto">
        {
          title && (
            <h1
              class="mx-auto lg:text-7xl md:text-6xl text-5xl font-bold lg:mb-16 md:mb-12 mb-6 font-serif dark:text-gray-200"
              set:html={title}
            />
          )
        }
        <ul class="lg:grid-cols-2 lg:grid place-items-center gap-14 flex justify-center md:mb-12 mb-6">
          <li>
            <a class="text-gray-600 hover:text-primary-700 dark:hover:text-primary-400 dark:text-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 inline-flex items-center duration-200 transition" aria-label="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/jqfalcon/">
              <Icon class="lg:w-20 lg:h-20 md:w-16 md:h-16 w-12 h-12" name="simple-icons:linkedin"/>

            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-primary-700 dark:hover:text-primary-400 dark:text-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 inline-flex items-center duration-200 transition" aria-label="GitHub" title="GitHub" href="https://github.com/jonathanfalcon">
              <Icon class="lg:w-20 lg:h-20 md:w-16 md:h-16 w-12 h-12" name="simple-icons:github"/>
  
            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-primary-700 dark:hover:text-primary-400 dark:text-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 inline-flex items-center duration-200 transition" aria-label="Tableau Public" title="Tableau Public" href="https://public.tableau.com/app/profile/falcon">
              <Icon class="lg:w-20 lg:h-20 md:w-16 md:h-16 w-12 h-12" name="simple-icons:tableau"/>

            </a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-primary-700 dark:hover:text-primary-400 dark:text-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 inline-flex items-center duration-200 transition" aria-label="Unsplash" title="Unsplash" href="https://unsplash.com/@jonathanfalcon">
              <Icon class="lg:w-20 lg:h-20 md:w-16 md:h-16 w-12 h-12" name="simple-icons:unsplash"/>
  
            </a>
          </li>
        </ul>
        <div class="mx-auto lg:max-w-none">
          {subtitle && <p class="text-xl md:text-2xl text-gray-600 mb-6 dark:text-slate-300" set:html={subtitle} />}
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap justify-center gap-4 lg:justify-start lg:m-0 lg:max-w-7xl">
            {
              callToAction && (
                <div class="flex">
                  {typeof callToAction === 'string' ? (
                    <Fragment set:html={callToAction} />
                  ) : (
                    <a class="btn btn-primary" href={callToAction?.href} rel="noopener">
                      {callToAction?.icon && (
                        <>
                          {''}
                        </>
                      )}
                      {callToAction?.text}
                      <Icon name={callToAction.icon} class="w-5 h-5 ml-1.5 -mr-1" />
                    </a>
                  )}
                </div>
              )
            }
            {
              callToAction2 && (
                <div class="flex ">
                  {typeof callToAction2 === 'string' ? (
                    <Fragment set:html={callToAction2} />
                  ) : (
                    <a class="btn " href={callToAction2?.href}>
                      {callToAction2?.icon && (
                        <>
                          {''}
                        </>
                      )}
                      {callToAction2.text}
                      <Icon name={callToAction2.icon} class="w-5 h-5 ml-1.5 -mr-1" />
                    </a>
                  )}
                </div>
              )
            }
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <div class="relative basis-7/12 w-full h-fit md:p-10 px-6 py-4 lg:rounded-[1.5rem] rounded-2xl bg-gray-200 dark:bg-slate shadow-2xl shadow-slate-600/20 border-gray-300 dark:border-slate-700 border-2">
        <form name="contact" id="form" action="https://script.google.com/macros/s/AKfycbxueXZ-idc-kiZW_otSSjk5m3DSYWATDFFEs-GzZorH7qcqDBgMv0PSvKrLsloVdUY-/exec" class="space-y-8 transition duration-300">
          <div class="flex flex-wrap -mx-3">
              <div class="w-full md:w-1/2 px-3 md:mb-0 mb-4">
                <label for="firstName" class="block mb-2 font-bold md:text-2xl text-xl text-slate dark:text-white">First Name</label>
                <input type="text" name="firstName" id="firstName" class="block p-2.5 w-full text-lg bg-gray-50 rounded-xl border-gray-300 shadow-sm focus:outline-none focus:border-slate dark:bg-slate-700 dark:border-slate-500 dark:placeholder-gray-200 dark:text-white dark:focus:border-slate-100 border-4" placeholder="First" required>
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label for="lastName" class="block mb-2 font-bold md:text-2xl text-xl text-slate dark:text-white">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="block p-2.5 w-full text-lg bg-gray-50 rounded-xl border-gray-300 shadow-sm focus:outline-none focus:border-slate dark:bg-slate-700 dark:border-slate-500 dark:placeholder-gray-200 dark:text-white dark:focus:border-slate-100 border-4" placeholder="Last" required>
              </div>
          </div>
          <div>
            <label for="email" class="block mb-2 font-bold md:text-2xl text-xl text-slate dark:text-white">Email</label>
            <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border-gray-300 text-lg rounded-xl focus:outline-none focus:border-slate block w-full p-2.5 dark:bg-slate-700 dark:border-slate-500 dark:placeholder-gray-200 dark:text-white dark:focus:border-slate-100 border-4" placeholder="name@domain.com" required>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block mb-2 font-bold md:text-2xl text-xl text-slate dark:text-white">Optional Message</label>
            <textarea name="message" id="message" rows="4" class="block p-2.5 w-full text-lg bg-gray-50 rounded-xl shadow-sm border-gray-300 focus:outline-none focus:border-slate dark:bg-slate-700 dark:border-slate-500 dark:placeholder-gray-200 dark:text-white dark:focus:border-slate-100 border-4" placeholder="Leave a comment..."></textarea>
          </div>
          <button type="submit" class="ml-auto flex btn btn-primary text-2xl">Send<Icon name="ph:paper-plane-right-bold" class="w-6 h-6 ml-3 -mr-1" /></button>
        </form>
        <div id="completion-msg" class="opacity-0 pointer-events-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition duration-300 block justify-items-center text-3xl font-bold text-center">
          <Icon name="ph:confetti" class="h-fit w-fit"/>
          Thanks for the message!
        </div>
        <div id="loading-msg" class="opacity-0 pointer-events-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition duration-300 block justify-items-center text-3xl font-bold text-center">
          <Icon name="eos-icons:three-dots-loading" class="-mb-6 h-fit w-fit"/>
          Sending message...
        </div>
      </div>
    </div>
  </div>
</section>
