---
import { Icon } from 'astro-icon';

interface Item {
  title: string;
  description: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items: Array<Array<Item>>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  items = [],
  background,
} = Astro.props;
---

<section class=`md:scroll-m-[56px] scroll-m-[20px] ${background}` id="why-me">
  <div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
    {
      (title || subtitle || highlight) && (
        <div class="mb-10 md:mx-auto text-center md:mb-14 max-w-3xl">
          {highlight && (
            <p
              class="text-base text-primary-700 dark:text-blue-200 font-semibold uppercase"
              set:html={highlight}
            />
          )}
          {title && (
            <h2
              class="text-4xl md:text-6xl font-black mb-4 font-serif"
              set:html={title}
            />
          )}

          {subtitle && (
            <p class="max-w-3xl md:text-2xl text-xl leading-tight text-gray-800 dark:text-slate-200" set:html={subtitle} />
          )}
        </div>
      )
    }
    <div class="grid md:grid-cols-2 items-start gap-y-14 gap-x-24 px-2 mt-10">
      {items.map(({ title, description, icon }) => (
        <div class="grid md:auto-cols-auto md:gap-x-4 gap-x-3 md:gap-y-0 gap-y-0.5 place-items-start items-center">
          <div class="flex items-center justify-center md:w-13 w-11 md:h-13 h-11 rounded-full bg-primary-700 dark:bg-primary-600">
            {icon && <Icon name={icon} class="md:w-7 w-5 md:h-7 h-5 text-white" />}
          </div>
          <h3 class="md:text-2.5xl text-2xl font-bold md:leading-none md:mb-0 mb-0.5">{title}</h3>
          <p class="md:text-xl text-lg text-gray-700 dark:text-slate-300 md:col-start-2 self-start" set:html={description} />
        </div>
      ))}
    </div>
  </div>
</section>
