---
import { Icon } from 'astro-icon';
import { SITE } from '~/config.mjs';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative bg-slate-800 text-slate-50 py-12']}>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
      <div class="grid md:grid-cols-2 grid-cols-1 md:justify-between justify-center md:gap-x-10 gap-y-10">
        <a class="flex items-center font-serif text-2xl max-md:col-span-2 max-md:justify-self-center" href={getHomePermalink()}>
          <Icon name="simple-icons:falcon" class="h-7 w-7 mr-2"/>{SITE?.name}
        </a>
        <nav>
          <ul class="grid grid-flow-col md:justify-end justify-evenly md:gap-10">
      {
        links.map(({ text, href, links }) => (
          <li>
            <a class="text-xl font-semibold border-b-0 border-slate-50 hover:border-b-4 transition-all duration-200" href={href}>{text}</a>
          </li>
        ))
      }
          </ul>
        </nav>
      </div>
      {
        socialLinks?.length ? (
          <hr class="my-10 border-slate-600 rounded-full"/>
          <ul class="grid grid-flow-col auto-cols-min justify-center md:gap-4 gap-5 mx-auto -my-2.5">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="hover:text-primary-400 text-slate-400 hover:bg-slate-700 focus:outline-none focus:ring-4 focus:ring-slate-700 rounded-lg text-sm p-2.5 inline-flex items-center duration-200 transition"
                  aria-label={ariaLabel}
                  title={ariaLabel}
                  href={href}
                  target="_blank"
                >
                  {icon && <Icon name={icon} class="md:w-9 w-8 md:h-9 h-8" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
  </div>
</footer>
