---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="relative md:-mt-[60px] dark:bg-resume-dark bg-resume">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-[88rem] mx-auto px-4 sm:px-6">
    <div class="pt-0 lg:pt-0 md:pt-[50px] pointer-events-none"></div>
    <div class="py-8 md:py-16 lg:py-0 lg:flex lg:flex-row-reverse lg:items-center lg:min-h-screen lg:gap-8">
      <div class="basis-2/5">
        {
          image && (
            <div class="relative m-auto max-w-5xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-auto lg:rounded-[4rem] md:rounded-[3rem] rounded-[2rem] lg:w-full lg:max-w-[400px] w-[80%] lg:mb-0 mb-5 lg:aspect-[2/3] aspect-[5/4] object-cover object-[left_50%_top_50%] shadow-stone-600/50 dark:shadow-slate-500/50 shadow-4xl"
                  widths={[768, 1500, 2500, 3000]}
                  sizes="(max-width: 1499px) 768px, (max-width: 2499px) 1500px, (max-width: 2999px) 2500px, 3000px"
                  aspectRatio={3 / 2}
                  loading="eager"
                  width={600}
                  height={900}
                  format="webp"
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
      <div class="basis-3/5 mx-auto">
        {
          title && (
            <h1
              class="text-4xl lg:text-7xl md:text-5xl font-bold mb-4 font-serif dark:text-gray-200"
              set:html={title}
            />
          )
        }
        <div class="mx-auto lg:max-w-none">
          {subtitle && <p class="text-gray-800 mb-6 dark:text-slate-200 xl:leading-9 text-xl md:text-2xl xl:text-2.5xl" set:html={subtitle} />}
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap justify-center gap-4 lg:justify-start lg:m-0 lg:max-w-7xl">
            {
              callToAction && (
                <div class="flex">
                  {typeof callToAction === 'string' ? (
                    <Fragment set:html={callToAction} />
                  ) : (
                    <a class="btn btn-primary md:text-2xl" href={callToAction?.href} rel="noopener">
                      {callToAction?.icon && (
                        <>
                          {''}
                        </>
                      )}
                      {callToAction?.text}
                      <Icon name={callToAction.icon} class="w-7 h-5 ml-1.5 -mr-1" />
                    </a>
                  )}
                </div>
              )
            }
            {
              callToAction2 && (
                <div class="flex ">
                  {typeof callToAction2 === 'string' ? (
                    <Fragment set:html={callToAction2} />
                  ) : (
                    <a class="btn md:text-2xl" href={callToAction2?.href}>
                      {callToAction2?.icon && (
                        <>
                          {''}
                        </>
                      )}
                      {callToAction2.text}
                      <Icon name={callToAction2.icon} class="w-5 h-5 ml-1.5 -mr-1" />
                    </a>
                  )}
                </div>
              )
            }
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
    </div>
  </div>
</section>
