---
const { name, issuer, link, year } = Astro.props;
---

<!-- <div>
  <div class="flex items-start font-bold md:text-2xl text-xl">
    <h3><a href={link} class="basis-5/6" target="_blank">{name}</a></h3>
    <span class="ml-auto">{year}</span>
  </div>
  
</div> -->

<div class="flex items-stretch">
  <div class="experience__data mb-15 mr-auto">
    <h3 class="font-bold md:text-2.5xl text-1.5xl leading-none underline md:decoration-[3px] decoration-2 underline-position-under hover:text-primary-600 dark:hover:text-primary-400 transition duration-200 mb-3 basis-4/5">
      <a href={link} target="_blank">{name}</a>
    </h3>
    <h4 class="md:text-1.5xl text-xl">{issuer}</h4>
  </div>
  <div class="year mb-1 md:text-2.5xl text-1.5xl text-end">
    <div class="leading-none font-bold mb-0.5">{year}</div>
  </div>
</div>
