---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
import PostTags from '~/components/blog/Tags.astro';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, 'post') : '';
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${image ? 'md:grid-cols-2' : ''}`}>
  {
    image && (
      <a class="relative pb-[56.25%] overflow-hidden bg-gray-400 dark:bg-slate-700 rounded-3xl shadow-xl hover:scale-[1.05] active:scale-[1] transition duration-300" href={link ?? 'javascript:void(0)'}>
            <Picture
              src={image}
              class="absolute inset-0 object-contain w-full h-full rounded bg-gray-400 dark:bg-slate-700"
              widths={[400, 900, 1400]}
              sizes="(max-width: 900px) 400px, (max-width: 1400px) 900px, 1400px"
              alt={post.title}
              aspectRatio="16:9"
              format="webp"
              loading="lazy"
              decoding="async"
            />
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <div class="mb-1">
        <span>
          <Icon name="mdi:calendar-month" class="w-3.5 h-3.5 inline-block -mt-0.5 text-gray-700 dark:text-gray-300" />
          <time class="dark:text-gray-300 text-gray-700" datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>
          {
            post.category && (
              <>
                {' '}
                –{' '}
                <a class="capitalize text-spring-green-500 dark:text-spring-green-400 hover:underline" href={getPermalink(post.category, 'category')}>
                  {post.category.replaceAll('-', ' ')}
                </a>
              </>
            )
          }
        </span>
      </div>
      <h2 class="text-2.5xl sm:text-4xl font-bold mb-2 font-serif">
        {
          link ? (
            <a class="hover:text-primary dark:hover:text-spring-green-400 transition duration-200" href={link}>
              {post.title}
            </a>
          ) : (
            post.title
          )
        }
      </h2>
    </header>

    {post.description && <p class="flex-grow text-gray-800 dark:text-slate-200 text-lg">{post.description}</p>}
    <footer class="mt-5">
      <PostTags tags={post.tags} />
    </footer>
  </div>
</article>
