---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
import PostTags from '~/components/blog/Tags.astro';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';
import blurHashImage from '~/utils/blur'

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, 'post') : '';
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 items-start ${image ? 'md:grid-cols-2' : ''}`}>
  {
    image && (
      <a class="relative hover:scale-[1.05] active:scale-[1] transition duration-300" href={link ?? 'javascript:void(0)'}>
            <Picture
              src={image}
              class="w-full h-full rounded-2xl shadow-xl bg-cover aspect-video"
              widths={[400, 900, 1400]}
              sizes="(max-width: 900px) 400px, (max-width: 1400px) 900px, 1400px"
              alt={post.title}
              aspectRatio="16:9"
              format="webp"
              loading="lazy"
              decoding="async"
              style={`background-image: url(${await blurHashImage(image.src)});`}
            />
      </a>
    )
  }
  <div class="md:mt-2">
    <header>
      <h2 class="text-2.5xl sm:text-4xl font-bold mb-2 font-serif">
        {
          link ? (
            <a class="hover:text-primary-700 dark:hover:text-primary-400 transition duration-200" href={link}>
              {post.title}
            </a>
          ) : (
            post.title
          )
        }
      </h2>
    </header>

    {post.description && <p class="flex-grow text-gray-800 dark:text-slate-200 text-lg">{post.description}</p>}
    <footer class="mt-5">
      <PostTags tags={post.tags} />
    </footer>
  </div>
</article>
