---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';

import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import {proseStyle} from './ProseStyles'

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';
import blurHashImage from '~/utils/blur'

export interface Props {
  post: Post;
  url: string | URL;
}

const { post, url } = Astro.props;
---

<article class="!pb-20 md:!pb-24 !pt-0 mx-auto">
  <header style={await blurHashImage(post.image.src)}>
    <div class="bg-gradient-to-b from-white/60 to-white/100 dark:from-slate-900/70 dark:to-slate-900/100 from-20% to-80% backdrop-saturate-150 md:pt-24 pt-20">
    <div class="flex justify-between flex-col sm:flex-row max-w-4xl mx-auto mt-0 mb-2 px-4 sm:items-center">
      <p class="text-gray-700 dark:text-slate-300 text-sm">
        <Icon name="mdi:calendar-month" class="w-4 h-4 inline-block -mt-0.5" />
        <time datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>
        {
          post.category && (
            <>
              {' '}
              –{' '}
              <a class="capitalize text-primary-700 dark:text-primary-400 hover:underline" href={getPermalink(post.category, 'category')}>
                {post.category.replaceAll('-', ' ')}
              </a>
            </>
          )
        }
        {post.readingTime && <> – {post.readingTime} min read</>}
      </p>
    </div>
    <h1
      class="px-4 max-w-4xl mx-auto text-4xl md:text-6xl font-bold font-serif"
    >
      {post.title}
    </h1>
    <p
      class="max-w-4xl mx-auto mt-4 mb-8 px-4 text-xl leading-snug md:text-2xl text-gray-800 dark:text-slate-300"
    >
      {post.description}
    </p>

    {
      post.image ? (
        <Picture
          src={post.image}
          class="max-w-full lg:max-w-4xl mx-auto md:mb-14 mb-6 min-[900px]:rounded-3xl bg-gray-400 dark:bg-slate-700"
          widths={[400, 900, 1400, 2000, 3000]}
          sizes="(max-width: 900px) 400px, (max-width: 1400px) 900px, (max-width: 2000px) 1400px, (max-width: 3000px) 2000px, 3000px"
          alt={post.title}
          loading="lazy"
          aspectRatio={16 / 9}
          width={896}
          height={504}
          style={await blurHashImage(post.image.src)}
          format="webp"
          decoding="async"
        />
      ) : (
        <div class="max-w-3xl mx-auto px-4 sm:px-6">
          <div class="border-t dark:border-slate-700" />
        </div>
      )
    }
    </div>
  </header>
  <div
    class={proseStyle}
  >
    {
      post.Content ? (
        <>
          {/* @ts-ignore */}
          <post.Content />
        </>
      ) : (
        <Fragment set:html={post.content} />
      )
    }
  </div>
  <div class="mx-auto px-6 sm:px-6 max-w-4xl mt-8 flex justify-between flex-col sm:flex-row">
    <PostTags tags={post.tags} class="mr-5" />
    <SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 flex flex-row gap-1 items-center" />
  </div>
  
</article>
