---
import { Icon } from 'astro-icon';

export interface Props {
  text: string;
  url: string | URL;
  class?: string;
}

const { text, url, class: className = 'inline-block' } = Astro.props;

const utmLinks = {
  facebook: encodeURIComponent('?utm_source=facebook&utm_medium=social'),
  twitter: encodeURIComponent('?utm_source=twitter&utm_medium=social'),
  linkedin: encodeURIComponent('?utm_source=linkedin&utm_medium=social'),
  sms: encodeURIComponent('?utm_source=sms&utm_medium=shared'),
  email: encodeURIComponent('?utm_source=email&utm_medium=shared')
};

const urlLink = {
  facebook: `https://www.facebook.com/sharer.php?u=${url+utmLinks['facebook']}`,
  twitter: `https://twitter.com/intent/tweet?url=${url+utmLinks['twitter']}&text=${text}`,
  linkedin: `https://www.linkedin.com/sharing/share-offsite/?url=${url+utmLinks['linkedin']}`,
  sms: `sms:&body=${url+utmLinks['sms']}`,
  email: `mailto:?subject=%22${text}%22&body=${text}%20${url+utmLinks['email']}`,
};

---

<div class=`text-gray-600 dark:text-slate-300 ${className}`>
  <span class="mr-1">Share:</span>
  <a title="Share with Messages" aria-label="Share with Messages" href={urlLink.sms} target="_blank" rel="noopener">
    <Icon
    name="mdi:chat"
    class="w-10 h-10 p-1.5 hover:text-primary-700 dark:hover:text-primary-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-slate-700 duration-200 transition rounded-lg hover:bg-gray-200 dark:hover:bg-slate-600"
    />
  </a>
  <a title="Share with Email" aria-label="Share with Email" href={urlLink.email} target="_blank" rel="noopener">
    <Icon
    name="mdi:email"
    class="w-10 h-10 p-1.5 hover:text-primary-700 dark:hover:text-primary-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-slate-700 duration-200 transition rounded-lg hover:bg-gray-200 dark:hover:bg-slate-600"
    />
  </a>
  <a title="Share to LinkedIn" aria-label="Share to LinkedIn" href={urlLink.linkedin} target="_blank" rel="noopener">
    <Icon
    name="mdi:linkedin"
    class="w-10 h-10 p-1.5 hover:text-primary-700 dark:hover:text-primary-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-slate-700 duration-200 transition rounded-lg hover:bg-gray-200 dark:hover:bg-slate-600"
    />
  </a>
  <a title="Share to Twitter" aria-label="Share to Twitter" href={urlLink.twitter} target="_blank" rel="noopener">
    <Icon
      name="mdi:twitter"
      class="w-10 h-10 p-1.5 hover:text-primary-700 dark:hover:text-primary-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-slate-700 duration-200 transition rounded-lg hover:bg-gray-200 dark:hover:bg-slate-600"
    />
  </a>
  <a title="Share to Facebook" aria-label="Share to Facebook" href={urlLink.facebook} target="_blank" rel="noopener">
    <Icon
      name="mdi:facebook-box"
      class="w-10 h-10 p-1.5 hover:text-primary-700 dark:hover:text-primary-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-slate-700 duration-200 transition rounded-lg hover:bg-gray-200 dark:hover:bg-slate-600"
    />
  </a>
</div>
